body {
    background-image: url("../img/game.jfif");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header {
    background-color: rgb(155, 218, 145);
    opacity: 0.8;
    margin: 50 px auto;
    font-size: 1.2em;
    padding: 0.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    background-color: rgb(177, 216, 173);
    opacity: 0.8;
    font-size: 1.8em;
    padding: 0.5%;
    color: black;
}

#playerGuess {
    font-size: 1em;
    padding: 0.5%;
}

#guessBtn {
    border-radius: 12px;
    background-color: green;
    color: #ffffff;
    font-size: border;
    padding: 2%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

#resetBtn {
    border-radius: 12px;
    background-color: green;
    color: #ffffff;
    font-size: border;
    padding: 2%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}